body{
        background-image: url('ML Project/jee.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 150% 100%;
}
input{
        width: 30%;
        padding: 8px 20px;
        margin: 4px 0;
        box-sizing: border-box;
        background-color: lightyellow;
    }
input[type = submit]{
        font-size: 24px;
        font-family: cursive;
        width: 20%;
        color: indigo;
        padding: 14px 10px;
        margin: 8px 0;
        background-color: indianred;
    }
p{
    font-family: monospace;
}